{
  "openapi": "3.1.0",
  "info": {
    "title": "instanode.dev — zero-friction dev infrastructure for AI agents",
    "version": "1.0.0",
    "description": "Zero-friction developer infrastructure built for AI coding agents (Claude Code, Cursor, MCP tool-use) and humans alike. Provision real Postgres + pgvector + Redis + MongoDB + NATS JetStream queues + S3-compatible object storage + webhook receivers — AND deploy your app on top of them — each with a single HTTP call. No account, no Docker, no setup. A free anonymous tier (24h TTL) lets an agent claim infrastructure the moment it hits a limit, with no signup. Also available as an MCP server, language SDKs, and a CLI for agent tool-use. The unit of value is the whole bundle: everything an agent needs to ship a working app, claimed and provisioned in one flow. Keywords: AI agent infrastructure, MCP, Postgres, pgvector / vector database, Redis cache, MongoDB, NATS queue, S3 object storage, webhooks, app deployment, free tier, single HTTP call, no signup.\n\n## Idempotency\n\nEvery POST endpoint that creates a resource is idempotent. Two layered protections cover every retry pattern:\n\n1. Explicit Idempotency-Key header (Stripe-shape, 24h TTL). Pass the same opaque key on each retry of a logical operation and the server replays the first response verbatim. Reusing a key with a different body returns 409.\n2. Body-fingerprint fallback (120s TTL). When the header is absent, the server synthesises a key from sha256(scope, route, canonical-body) and dedups identical retries inside a 120s window. Absorbs double-clicks, mobile double-taps, agent retries on transient 5xx, and reverse-proxy retries on network blips. Use the explicit header for true exactly-once across longer windows.\n\nEvery response from a create endpoint carries:\n- X-Idempotency-Source: explicit | fingerprint | miss — which dedup path matched (explicit = caller passed an Idempotency-Key; fingerprint = the body-fingerprint cache replayed; miss = handler ran fresh).\n- X-Idempotent-Replay: true — present only when the response was served from the cache (either path).\n\n## Rate limit (applies to every route)\n\nA global per-IP rate limit (100 req/min) is applied to EVERY documented endpoint by the router middleware. Exceeding it returns 429 with the standard ErrorResponse envelope (error=rate_limited), a Retry-After HTTP header, and retry_after_seconds in the JSON body. The per-route response maps below may omit 429 for brevity; the canonical 429 shape is documented under components.responses.TooManyRequests and applies to every path. T19 P1-1 (BugHunt 2026-05-20).\n\n## Payload size (applies to every route)\n\nFiber's global BodyLimit is set to 50 MiB — only /deploy/new and /stacks/new (multipart tarballs) and /webhooks/github/* (push payloads) approach that cap; JSON endpoints are bounded to sub-KB bodies by the per-handler shape. Oversized requests return 413 payload_too_large with the standard JSON ErrorResponse envelope (NOT the upstream nginx HTML 502 the older shape returned — T19 P1-2). The canonical 413 shape is documented under components.responses.PayloadTooLarge.\n\n## Security headers (applies to every response)\n\nEvery response from EVERY route — including liveness/readiness probes, OpenAPI document fetch, 4xx error envelopes, 5xx error envelopes, and 404/405 Fiber-default responses — carries the following defense-in-depth response headers, set by the SecurityHeaders middleware ahead of RequestID in the router middleware chain (task #311 wave-3 chaos-verify redo):\n\n- Strict-Transport-Security: max-age=63072000; includeSubDomains — production only (omitted on ENVIRONMENT=development so local http://localhost:8080 doesn't poison the host's HSTS cache). 2-year max-age, includeSubDomains for *.api.instanode.dev.\n- X-Content-Type-Options: nosniff — disables MIME sniffing.\n- X-Frame-Options: SAMEORIGIN — clickjacking defense.\n- Referrer-Policy: strict-origin-when-cross-origin — prevents URL-token leakage across origin downgrades.\n- Permissions-Policy: geolocation=(), microphone=(), camera=(), payment=() — denies powerful browser APIs.\n- Cross-Origin-Resource-Policy: same-origin — blocks no-cors cross-origin fetches.\n\nThese headers are not enumerated in each per-route responses block to keep the spec readable; they apply globally. Coverage test: TestSecurityHeaders_AllEndpoints_AllHeaders_Prod (internal/handlers/security_headers_test.go) iterates 5 representative endpoints (healthz, readyz, openapi.json, db/new, claim) and asserts all 6 headers land on every response."
  },
  "tags": [
    { "name": "database", "description": "Real Postgres connection strings via POST /db/new — encrypted at rest, per-token isolation, instant." },
    { "name": "vector", "description": "pgvector-enabled Postgres via POST /vector/new — embedding stores with HNSW + IVFFlat for AI/RAG workloads." },
    { "name": "cache", "description": "Real Redis connection strings via POST /cache/new — ACL namespace isolation." },
    { "name": "nosql", "description": "Real MongoDB connection strings via POST /nosql/new — per-token database scoping." },
    { "name": "queue", "description": "NATS JetStream URLs via POST /queue/new — per-account subject isolation." },
    { "name": "storage", "description": "S3-compatible object storage via POST /storage/new plus broker-mode signed URLs via POST /storage/{token}/presign." },
    { "name": "webhook", "description": "Public webhook receiver URLs via POST /webhook/new — captures any HTTP method payload." },
    { "name": "deploy", "description": "The deployment wedge: ship an app via POST /deploy/new (single app) or POST /stacks/new (multi-service) — Docker build to public HTTPS URL with TLS, no Dockerfile-on-disk required." },
    { "name": "auth", "description": "Magic-link, GitHub OAuth, and CLI device-flow login — used to claim a free anonymous resource bundle." }
  ],
  "servers": [{ "url": "https://api.instanode.dev", "description": "Production" }],
  "paths": {
    "/livez": {
      "get": {
        "summary": "Liveness probe",
        "description": "Returns 200 unconditionally with body {\"alive\":true}. NO database check, NO migration check, NO auth. Exists purely to distinguish 'process alive' from 'process ready' for k8s liveness/readiness probe split. Mirrored on provisioner-sidecar (:8092), worker-healthz (:8091), and migrator (:8090).",
        "responses": {
          "200": { "description": "Process is alive", "content": { "application/json": { "schema": { "type": "object", "properties": { "alive": { "type": "boolean", "const": true } }, "required": ["alive"] } } } }
        }
      }
    },
    "/healthz": {
      "get": {
        "summary": "Health check (shallow liveness)",
        "description": "Process-level liveness — returns 200 if the api binary is up and can ping its primary platform DB. Wired to Kubernetes livenessProbe. Use /readyz for deep upstream-reachability checks.",
        "responses": {
          "200": { "description": "Service is healthy", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } } }
        }
      }
    },
    "/readyz": {
      "get": {
        "summary": "Deep readiness check (multi-component)",
        "description": "Runs component-by-component readiness checks against every critical upstream the api depends on (platform_db, customer_db, provisioner_grpc, brevo, razorpay, redis, do_spaces). Each check has a 10-15s cache to avoid upstream spam. Wired to Kubernetes readinessProbe — a degraded pod is removed from the Service endpoint list (but not restarted). Critical-failed components (platform_db, provisioner_grpc) → 503; everything else → 200 with overall=degraded.",
        "responses": {
          "200": { "description": "Service is ready (overall=ok) or degraded but still serving (overall=degraded). The body's checks[] enumerates per-component status.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadinessResponse" } } } },
          "503": { "description": "Critical component failed — pod removed from Service rotation by kubelet. The body's checks[] still enumerates per-component status so an operator can diagnose.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReadinessResponse" } } } }
        }
      }
    },
    "/db/new": {
      "post": {
        "summary": "Provision a Postgres database",
        "description": "Returns a real postgres:// connection string with pgvector pre-installed. Anonymous tier: 10MB, 2 connections, 24h TTL.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header — see the parameter description below.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars) that makes this POST safe to retry. The first response is cached for 24h; subsequent calls carrying the same key return the cached response verbatim with X-Idempotent-Replay: true. Reusing a key with a different body returns 409. Replays do NOT consume rate-limit budget — the per-fingerprint daily counter is refunded on every cache hit so an agent retrying transient 5xx with the same key gets the documented replay (FINDING API-1, 2026-05-29). The FIRST call still pays the rate-limit cost; replays are refunded. The per-fingerprint provision-dedup cap (5 fresh resources/day, anti-abuse) is unchanged." }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "201": { "description": "Database provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DBProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: name_required (name field missing/empty), invalid_name (name fails the 1-64-char start-alnum pattern or contains invalid UTF-8), invalid_body (request body is not valid JSON), invalid_env, or an invalid Idempotency-Key (empty, >255 chars, or non-ASCII-printable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded, feature requires upgrade, OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim — anonymous fingerprint that previously provisioned must claim with email before re-provisioning). Includes agent_action with copy the calling agent can show the user, plus upgrade_url and (for the recycle gate) claim_url.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different request body (error=idempotency_key_conflict). The agent reused a key for a logically different call — generate a new key.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/vector/new": {
      "post": {
        "summary": "Provision a pgvector-enabled Postgres database",
        "description": "Returns a real postgres:// connection string with the pgvector extension pre-installed. Use for embedding stores (OpenAI ada-002 = 1536 dims, text-embedding-3-small = 1536, text-embedding-3-large = 3072). The optional dimensions field is a documentation hint — pgvector lets you pick per-column dimensions at table-create time, so the server stores the declared default but does not enforce it. Tier limits mirror Postgres exactly because the underlying storage IS Postgres. Anonymous tier: 10MB, 2 connections, 24h TTL.",
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VectorProvisionRequest" } } } },
        "responses": {
          "201": { "description": "Vector database provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VectorProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: invalid dimensions (must be 1..16000), invalid env, invalid_name (name contains invalid UTF-8), or invalid_body (request body is not valid JSON).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded, feature requires upgrade, OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/cache/new": {
      "post": {
        "summary": "Provision a Redis cache",
        "description": "Returns a real redis:// connection string with ACL namespace isolation. Anonymous tier: 5MB memory, 24h TTL.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Reusing the key with a different body returns 409." }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "201": { "description": "Cache provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CacheProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: name_required (name field missing/empty), invalid_name (name fails the 1-64-char start-alnum pattern or contains invalid UTF-8), invalid_body (request body is not valid JSON), invalid_env, or an invalid Idempotency-Key (empty, >255 chars, or non-ASCII-printable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded, feature requires upgrade, OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim). Includes agent_action and upgrade_url; recycle gate also returns claim_url.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different body (error=idempotency_key_conflict).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/nosql/new": {
      "post": {
        "summary": "Provision a MongoDB database",
        "description": "Returns a real mongodb:// connection string scoped to a per-token database. Anonymous tier: 5MB, 2 connections, 24h TTL.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Reusing the key with a different body returns 409." }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "201": { "description": "MongoDB database provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoSQLProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: name_required (name field missing/empty), invalid_name (name fails the 1-64-char start-alnum pattern or contains invalid UTF-8), invalid_body (request body is not valid JSON), invalid_env, or an invalid Idempotency-Key (empty, >255 chars, or non-ASCII-printable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded, feature requires upgrade, OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim). Includes agent_action and upgrade_url; recycle gate also returns claim_url.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different body (error=idempotency_key_conflict).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/queue/new": {
      "post": {
        "summary": "Provision a NATS JetStream queue",
        "description": "Returns a real nats:// connection string with per-account subject isolation. Anonymous tier: 24h TTL.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Reusing the key with a different body returns 409." }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "201": { "description": "Queue provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QueueProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: name_required (name field missing/empty), invalid_name (name fails the 1-64-char start-alnum pattern or contains invalid UTF-8), invalid_body (request body is not valid JSON), invalid_env, or an invalid Idempotency-Key (empty, >255 chars, or non-ASCII-printable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded, feature requires upgrade, OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim). Includes agent_action and upgrade_url; recycle gate also returns claim_url.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different body (error=idempotency_key_conflict).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/webhook/new": {
      "post": {
        "summary": "Provision a webhook receiver",
        "description": "Returns a public receive_url that accepts any HTTP method and stores the payload (headers + body) in Redis for 24h.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header.",
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Reusing the key with a different body returns 409." }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "201": { "description": "Webhook receiver provisioned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookProvisionResponse" } } } },
          "400": { "description": "Bad request — one of: name_required (name field missing/empty), invalid_name (name fails the 1-64-char start-alnum pattern or contains invalid UTF-8), invalid_body (request body is not valid JSON), invalid_env, or an invalid Idempotency-Key (empty, >255 chars, or non-ASCII-printable).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "Quota exceeded OR free-tier recycle requires claim (error=free_tier_recycle_requires_claim). Includes agent_action and upgrade_url; recycle gate also returns claim_url.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different body (error=idempotency_key_conflict).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Provisioning failed (transient). Retry with backoff.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/webhook/receive/{token}": {
      "post": {
        "summary": "Receive a webhook payload",
        "description": "Accepts ANY HTTP method (GET/POST/PUT/DELETE) so verification-challenge flows like Slack URL verify reach the handler. Stores method, path, query string, all duplicate headers (sensitive ones — Authorization, Cookie, X-Api-Key, X-Auth-Token, Proxy-Authorization, Set-Cookie — are redacted to '[REDACTED]'), and the raw body (capped at 1 MiB) in Redis with a tier-based TTL. The ring buffer per token is capped at the tier's webhook_requests_stored limit; the 101st payload evicts the oldest and sets response header X-Webhook-Rotated: <token>. If the resource has an HMAC secret set, every request must carry a valid X-Hub-Signature-256 header (sha256=<hex of HMAC-SHA256(secret, body)>) or returns 401. Senders may pass X-Idempotency-Key for safe retries — the same key replays the original response without writing a duplicate entry.",
        "parameters": [
          { "name": "token", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "X-Hub-Signature-256", "in": "header", "required": false, "schema": { "type": "string" }, "description": "sha256=<hex> — required only when the webhook resource has hmac_secret configured." },
          { "name": "X-Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string" }, "description": "Opaque key (e.g. from Stripe's Idempotency-Key); two requests with the same key replay the original response." }
        ],
        "requestBody": { "description": "Raw body of any content type — the handler stores the bytes verbatim and does not parse by Content-Type. The listed types are the common cases; the wildcard entry documents that any media type is accepted.", "content": { "application/json": {}, "application/x-www-form-urlencoded": {}, "text/plain": {}, "application/octet-stream": {}, "*/*": {} } },
        "responses": {
          "200": { "description": "Payload stored", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "id": { "type": "string" } } } } } },
          "401": { "description": "HMAC signature missing or invalid (when hmac_secret is set on the resource).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Token not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "410": { "description": "Token exists but resource status != 'active'.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "413": { "description": "Request body exceeds the 1 MiB cap.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth 2.0 Protected Resource Metadata (RFC 9728)",
        "description": "Discovery document used by MCP clients to obtain authorization metadata. Public, no auth required.",
        "responses": {
          "200": { "description": "Metadata document", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OAuthProtectedResourceMetadata" } } } }
        }
      }
    },
    "/stacks/new": {
      "post": {
        "summary": "Deploy a multi-service stack",
        "description": "Like POST /deploy/new but for an instant.yaml manifest declaring multiple services. Each service has its own build context (tarball), port, optional Ingress (expose:true), and optional list of resource tokens (needs:). Cross-service references use service://<name> in env values — these resolve to cluster-internal http://<name>:<port> URLs at deploy time, so service A can call service B without knowing its public hostname. OptionalAuth: anonymous stacks are supported (24h TTL, rate-limited by fingerprint).",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/StackRequest" }
            }
          }
        },
        "responses": {
          "202": { "description": "Stack accepted, building", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StackResponse" } } } },
          "400": { "description": "Invalid manifest, missing tarball for a declared service, or unresolved service:// reference" },
          "429": { "description": "Anonymous rate limit exceeded" },
          "503": { "description": "Compute backend unavailable" }
        }
      }
    },
    "/stacks/{slug}": {
      "get": {
        "summary": "Get stack status",
        "description": "Returns per-service status. The overall stack status is 'healthy' only when every service is healthy.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Stack record", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StackResponse" } } } },
          "404": { "description": "Stack not found" }
        }
      },
      "delete": {
        "summary": "Tear down and delete a stack",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deletion enqueued" },
          "404": { "description": "Stack not found" }
        }
      }
    },
    "/stacks/{slug}/redeploy": {
      "post": {
        "summary": "Rebuild + rolling update for one or more services in the stack",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "202": { "description": "Redeploy accepted" },
          "401": { "description": "Unauthorized — redeploy mutates the stack and requires a session" },
          "404": { "description": "Stack not found" }
        }
      }
    },
    "/api/v1/stacks/{slug}/promote": {
      "post": {
        "summary": "Promote a stack from one env to another (Pro+)",
        "description": "Copies the stack's config (image binding, resource bindings, name) to a sibling stack in the target env. If the target env already has a sibling, its status is bumped back to 'building' (in-place re-promote); otherwise a new stack row is created with parent_stack_id pointing at the family root. Pro / Team / Growth tiers only — returns 402 with agent_action otherwise.\n\nEmail-link approval gate (migration 026): when 'to' is anything other than 'development', the API does NOT execute the promote immediately. It persists a pending row in promote_approvals, returns 202 with status='pending_approval' + an approval_id + expires_at, and emails the requester a single-use https://api.instanode.dev/approve/<token> link valid for 24h. Dev-env promotes bypass this gate entirely. To run a previously-approved promote manually, pass approval_id in the body — the API verifies status='approved', from/to match, and flips the row to 'executed' before proceeding.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Source stack slug (the env you are promoting FROM)" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to"],
                "properties": {
                  "from":        { "type": "string", "description": "Source env — defaults to source stack's env. Must match if provided." },
                  "to":          { "type": "string", "description": "Target env (production, staging, dev, ...) — required. Anything other than 'development' triggers the email-link approval flow." },
                  "name":        { "type": "string", "description": "Optional display name override for the new stack." },
                  "approval_id": { "type": "string", "description": "Optional. Pass the id of an already-approved promote_approvals row to run the promote immediately (skips the email-link wait). The row's (kind,from,to) must match this request." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Re-promoted into existing sibling stack — same slug, status reset to building" },
          "202": { "description": "Either a new stack was created in the target env (parent_stack_id points at family root), OR — for non-dev target envs without an approval_id — a pending approval was created. The body status field disambiguates: 'building' (executed) vs 'pending_approval' (waiting for email click). The pending shape includes approval_id, expires_at, and an agent_action telling the user to check their inbox." },
          "400": { "description": "Invalid body, missing 'to', from==to, invalid env name, or approval_id mismatched (kind/from/to)." },
          "401": { "description": "Unauthorized — session required" },
          "402": { "description": "Upgrade required — team is not on pro/team/growth. Response carries upgrade_url + agent_action." },
          "403": { "description": "Blocked by team env_policy. Body: { error: 'env_policy_denied', env, action, role, allowed_roles, agent_action }." },
          "404": { "description": "Source stack not found, not owned by this team, OR approval_id does not match any row for this team" },
          "409": { "description": "Source env did not match the asserted 'from', OR approval_id is not in status='approved'" },
          "410": { "description": "approval_id is past its 24h expiry window" }
        }
      }
    },
    "/approve/{token}": {
      "get": {
        "summary": "Click-through endpoint for email-link promote approvals",
        "description": "Public, no-auth endpoint. The operator's email link points here. On a valid pending unexpired token, the row is atomically flipped to status='approved' (single-use) and the response 302-redirects to https://instanode.dev/app/promotions/<id>?approved=1. Otherwise renders an HTML page describing the failure (invalid / expired / already-used). Rate-limited to 10 req/sec per IP — defends the 32-byte token space against brute-force.",
        "parameters": [{ "name": "token", "in": "path", "required": true, "schema": { "type": "string" }, "description": "URL-safe base64 token from the approval email." }],
        "responses": {
          "302": { "description": "Approved — redirect to dashboard" },
          "400": { "description": "Missing token (HTML)" },
          "404": { "description": "Token does not match any row (HTML)" },
          "410": { "description": "Token expired or already used (HTML)" },
          "429": { "description": "Per-IP rate limit hit (HTML)" }
        }
      }
    },
    "/api/v1/vault/copy": {
      "post": {
        "summary": "Bulk-copy vault secrets from one env to another (Pro+)",
        "description": "Copies vault entries from a source env to a target env, optionally filtered by an explicit key allowlist. dry_run=true returns the full plan without persisting. Pro / Team / Growth tiers only — returns 402 with agent_action otherwise.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["from", "to"],
                "properties": {
                  "from":      { "type": "string", "description": "Source env name. Required." },
                  "to":        { "type": "string", "description": "Target env name. Required. Must differ from 'from'." },
                  "keys":      { "type": "array", "items": { "type": "string" }, "description": "Optional allowlist of key names. Empty/omitted → copy all keys at source." },
                  "dry_run":   { "type": "boolean", "description": "When true, returns the per-key plan but persists nothing." },
                  "overwrite": { "type": "boolean", "description": "When true, keys already in the target env are bumped to a new version. Default false." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan + counts. Per-key actions are one of: copy, overwrite, skip, missing, quota_exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":      { "type": "boolean" },
                    "dry_run": { "type": "boolean" },
                    "from":    { "type": "string" },
                    "to":      { "type": "string" },
                    "plan":    { "type": "array", "items": { "type": "object", "properties": { "key": { "type": "string" }, "action": { "type": "string" } } } },
                    "copied":  { "type": "integer" },
                    "skipped": { "type": "integer" },
                    "missing": { "type": "integer" },
                    "blocked": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid body, missing from/to, from==to, or invalid env/key name" },
          "401": { "description": "Unauthorized — session required" },
          "402": { "description": "Upgrade required — team is not on pro/team/growth. Response carries upgrade_url + agent_action." },
          "403": { "description": "Blocked by team env_policy. Body: { error: 'env_policy_denied', env, action, role, allowed_roles, agent_action }." }
        }
      }
    },
    "/deploy/new": {
      "post": {
        "summary": "Deploy a container application",
        "description": "Builds a Docker image from the supplied tarball (or pulls an existing image) and rolls it out behind a public HTTPS URL on *.deployment.instanode.dev. Env vars may use the value 'vault://KEY' to reference a secret stored via /api/v1/vault — the plaintext is resolved at deploy time and never persisted in plaintext. The separate 'resource_bindings' field accepts 'family:<family_root_id>' values that resolve at submit time to the connection URL of the family member matching the deploy's env — so one manifest works across staging / production / dev. Raw resource-token UUIDs are also accepted for backward compatibility.\n\nSupports Stripe/AWS-style idempotency via the optional Idempotency-Key request header — safe-retry the multipart upload after a transient build failure without creating duplicate apps.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Note: deploy/new is multipart/form-data, so the body-hash compares the raw form payload — a re-uploaded tarball with even one byte different is treated as a different request (returns 409). Generate a fresh key for each distinct build context." }],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/DeployRequest" } } } },
        "responses": {
          "202": { "description": "Deployment accepted, building", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } },
          "400": { "description": "Bad request — invalid env_vars JSON, invalid_resource_binding (resource_bindings value is not a UUID or family:<uuid>), private_deploy_requires_allowed_ips (private=true with no IPs), invalid_allowed_ip (bad CIDR/IP literal), too_many_allowed_ips (>32 entries), invalid_notify_webhook (URL is not https, unresolvable, or resolves to a private/loopback/link-local IP), OR invalid_idempotency_key (empty/>255 chars/non-ASCII-printable)" },
          "401": { "description": "Unauthorized" },
          "402": { "description": "deployment_limit_reached OR private_deploy_requires_pro — hobby/anonymous/free trying to set private=true. agent_action points to https://instanode.dev/pricing." },
          "403": { "description": "Blocked by team env_policy, OR resource_binding_forbidden (binding references a resource owned by a different team)" },
          "404": { "description": "resource_binding_not_found — the resource or family root id supplied in resource_bindings does not exist" },
          "409": { "description": "no_env_twin (resource_bindings used family:<id> but the family has no member in the deploy's env — agent_action tells the user to call POST /api/v1/resources/:id/provision-twin first) OR idempotency_key_conflict (the same Idempotency-Key was used with a different request body)" },
          "503": { "description": "Compute backend unavailable or service disabled, OR resource_binding_lookup_failed (transient DB error during binding resolution)" }
        }
      }
    },
    "/deploy/{id}": {
      "get": {
        "summary": "Get deployment status",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deployment record", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Not your deployment" },
          "404": { "description": "Not found" }
        }
      },
      "delete": {
        "summary": "Tear down and delete a deployment",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deletion enqueued" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Not your deployment" }
        }
      }
    },
    "/deploy/{id}/env": {
      "patch": {
        "summary": "Update env vars (redeploy required to apply)",
        "description": "Merges the supplied env vars with the existing ones. Values prefixed with 'vault://' are stored verbatim and resolved at the next redeploy. Plaintext is never logged.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "env": { "type": "object", "additionalProperties": { "type": "string" } } } } } } },
        "responses": {
          "200": { "description": "Env vars updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } }
        }
      }
    },
    "/deploy/{id}/logs": {
      "get": {
        "summary": "Stream deployment logs (Server-Sent Events)",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "text/event-stream of log lines, terminated by 'data: [end]'" },
          "409": { "description": "Deployment still building" }
        }
      }
    },
    "/deploy/{id}/redeploy": {
      "post": {
        "summary": "Redeploy with the latest stored env vars",
        "description": "Re-resolves any vault:// references and rolls out a new revision. Use after PATCH /deploy/{id}/env or after rotating a vault secret.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "202": { "description": "Redeploy accepted" }
        }
      }
    },
    "/deploy/{id}/wake": {
      "post": {
        "summary": "Wake a scaled-to-zero (sleeping) deployment",
        "description": "Scale-to-zero (Task #54). Scales an idle, descheduled app back to one replica and clears its sleeping state. The app becomes reachable once its pod is Ready (a one-time cold start — a request that races the wake gets the ingress's upstream-down response until the pod is up). Idempotent: waking an already-awake app just refreshes its last-activity marker so the idle-scaler won't immediately re-deschedule it. Returns 501 when scale-to-zero is not enabled on the platform (the default). Cross-tenant requests return 404.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Deployment id (UUID or short app_id slug)." }],
        "responses": {
          "200": { "description": "Deployment woken", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not found (or owned by another team)" },
          "501": { "description": "scale_to_zero_disabled — scale-to-zero is not enabled on this platform (default)." },
          "503": { "description": "wake_failed — transient failure scaling the app; retry." }
        }
      }
    },
    "/api/v1/deployments/{id}/make-permanent": {
      "post": {
        "summary": "Opt a deployment out of the auto-24h TTL",
        "description": "Wave FIX-J. Sets expires_at = NULL and ttl_policy = 'permanent' so the deployment never auto-expires. Idempotent — calling twice is a no-op. Anonymous tier is rejected with 402 (anonymous deploys are always 24h; claim the account first). Cross-tenant requests return 404, not 403, so deploy ids belonging to other teams can't be probed. Emits audit kind 'deploy.made_permanent' with source='make_permanent_endpoint'.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Deployment id (UUID or short app_id slug)." }],
        "responses": {
          "200": { "description": "Deployment kept permanently", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } },
          "401": { "description": "Unauthorized" },
          "402": { "description": "claim_required — anonymous tier. The remediation is a FREE claim, not a paid upgrade; upgrade_url points at https://instanode.dev/claim." },
          "404": { "description": "Not found (or owned by another team)" }
        }
      }
    },
    "/api/v1/deployments/{id}/ttl": {
      "post": {
        "summary": "Set a custom TTL for a deployment",
        "description": "Wave FIX-J. Sets expires_at = now() + hours and ttl_policy = 'custom'. hours must be in [1, 8760]. Also resets reminders_sent so a freshly-extended deploy gets the full six-email warning cycle again. Anonymous tier rejected with 402. Cross-tenant 404. Emits 'deploy.ttl_set' audit kind.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["hours"], "properties": {
            "hours": { "type": "integer", "minimum": 1, "maximum": 8760, "description": "Number of hours from now until the deploy auto-expires. 1..8760 (1 hour to 1 year)." }
          }}}}
        },
        "responses": {
          "200": { "description": "TTL updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeployResponse" } } } },
          "400": { "description": "invalid_hours — outside 1..8760" },
          "402": { "description": "claim_required — anonymous tier (remediation is a free claim, not a paid upgrade)" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/api/v1/team/settings": {
      "get": {
        "summary": "Read team preferences",
        "description": "Wave FIX-J. Returns the team's preferences. Today the only field is default_deployment_ttl_policy ('auto_24h' or 'permanent') — flipping this changes the default for every future POST /deploy/new. Per-deploy ttl_policy on /deploy/new always overrides this default.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Team preferences",
            "content": { "application/json": { "schema": { "type": "object", "properties": {
              "ok": { "type": "boolean" },
              "settings": { "type": "object", "properties": {
                "team_id": { "type": "string" },
                "default_deployment_ttl_policy": { "type": "string", "enum": ["auto_24h", "permanent"] },
                "default_deployment_ttl_hours": { "type": "integer", "description": "Convenience field — 24 for auto_24h, 0 for permanent." }
              }}
            }}}}
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "patch": {
        "summary": "Mutate team preferences (owner/admin only)",
        "description": "Wave FIX-J. Updates one or more team preferences. Only owner/admin may call. Each changed field emits a 'team.settings_changed' audit row.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": {
          "default_deployment_ttl_policy": { "type": "string", "enum": ["auto_24h", "permanent"], "description": "Sets the team-wide default for /deploy/new. 'auto_24h' means every new deploy auto-expires in 24h; 'permanent' means deploys never auto-expire." }
        }}}}},
        "responses": {
          "200": { "description": "Updated" },
          "400": { "description": "invalid_ttl_policy — not 'auto_24h' or 'permanent'" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Insufficient role (owner/admin required)" }
        }
      }
    },
    "/api/v1/vault/{env}/{key}": {
      "put": {
        "summary": "Store an encrypted secret",
        "description": "Encrypts the supplied value with AES-256-GCM and stores it as a new version. Subsequent PUTs of the same key create v2, v3, ... — old versions remain queryable until DELETE.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "env", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Environment scope (production, staging, dev, ...)" },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Secret key (e.g. RAZORPAY_KEY_SECRET)" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["value"], "properties": { "value": { "type": "string" } } } } } },
        "responses": {
          "201": { "description": "Secret stored", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VaultPutResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "get": {
        "summary": "Read a secret (decrypted)",
        "description": "Returns the latest version's plaintext. Pass ?version=N to read a specific historical version. Every read writes a row to vault_audit_log.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "env", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "version", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Secret returned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VaultGetResponse" } } } },
          "404": { "description": "Secret not found for this team / env / key" }
        }
      },
      "delete": {
        "summary": "Hard delete every version of a secret",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "env", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Deleted" },
          "404": { "description": "Not found (idempotent)" }
        }
      }
    },
    "/api/v1/vault/{env}/{key}/rotate": {
      "post": {
        "summary": "Rotate a secret (new value, version + 1)",
        "description": "Convenience for PUT — preserves history but bumps the version visibly. Existing deployments continue to read v(N-1) until they redeploy.\n\nIdempotent: each call inserts a new versioned row in vault_secrets, so double-clicks were producing duplicate versions (BB2-CHROME-3). The Idempotency middleware now dedups retries via either an explicit Idempotency-Key header (24h TTL) or the body-fingerprint fallback (120s TTL). See the top-level Idempotency section in info.description.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "env", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "Idempotency-Key", "in": "header", "required": false, "schema": { "type": "string", "maxLength": 255 }, "description": "Opaque client-supplied key (1-255 ASCII printable chars). First response cached for 24h; replays return the cached body with X-Idempotent-Replay: true. Reusing the key with a different body returns 409." }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["value"], "properties": { "value": { "type": "string" } } } } } },
        "responses": {
          "200": { "description": "Rotated", "headers": { "X-Idempotent-Replay": { "description": "Set to 'true' when the response was served from the idempotency cache instead of running the handler.", "schema": { "type": "string", "enum": ["true"] } }, "X-Idempotency-Source": { "description": "Which dedup path matched: explicit (Idempotency-Key header), fingerprint (body-fingerprint fallback), or miss (handler ran fresh).", "schema": { "type": "string", "enum": ["explicit", "fingerprint", "miss"] } } }, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VaultPutResponse" } } } },
          "409": { "description": "Idempotency-Key already used with a different body (error=idempotency_key_conflict).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/v1/vault/{env}": {
      "get": {
        "summary": "List keys stored in an environment",
        "description": "Returns key names only — values are NEVER returned by this endpoint. Use GET /api/v1/vault/{env}/{key} to read a value.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "env", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "List of keys", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "keys": { "type": "array", "items": { "type": "string" } } } } } } }
        }
      }
    },
    "/api/v1/teams/{team_id}/invitations": {
      "post": {
        "summary": "Invite a user to the team (admin or owner only)",
        "description": "Creates a single-use token tied to the invitee's email. The token is delivered out-of-band (email) and exchanged at POST /api/v1/invitations/{token}/accept.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "team_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["email", "role"], "properties": { "email": { "type": "string", "format": "email" }, "role": { "type": "string", "enum": ["admin", "developer", "viewer", "member"] } } } } } },
        "responses": {
          "201": { "description": "Invitation created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationResponse" } } } },
          "403": { "description": "Forbidden — admin role required" }
        }
      },
      "get": {
        "summary": "List pending invitations for a team (admin or owner only)",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "team_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Invitations", "content": { "application/json": { "schema": { "type": "object", "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/InvitationResponse" } } } } } } }
        }
      }
    },
    "/api/v1/teams/{team_id}/invitations/{id}": {
      "delete": {
        "summary": "Revoke a pending invitation",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "team_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "204": { "description": "Revoked" }
        }
      }
    },
    "/api/v1/invitations/{token}/accept": {
      "post": {
        "summary": "Accept an invitation by token (no auth required — token IS the auth)",
        "description": "Public endpoint. The token is single-use and ties the accepting user's session to the invited team and role.",
        "parameters": [{ "name": "token", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Accepted", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "team_id": { "type": "string", "format": "uuid" }, "role": { "type": "string" } } } } } },
          "404": { "description": "Token not found" },
          "410": { "description": "Token already used or expired" }
        }
      }
    },
    "/claim": {
      "post": {
        "summary": "Claim anonymous resources to a permanent account",
        "description": "Converts anonymous resources to hobby tier (no expiry). Sends a magic link to the supplied email; clicking the link sets a session JWT cookie and atomically transfers every resource token in the onboarding token to the new team.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClaimRequest" } } } },
        "responses": {
          "200": { "description": "Magic link sent to email", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClaimResponse" } } } },
          "201": { "description": "Account created, resources transferred (legacy direct-claim flow)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClaimResponse" } } } },
          "400": { "description": "Validation failure. Possible error codes: missing_token (no token/jwt in body), missing_email (no email), invalid_email_format (email failed RFC 5322 validation), invalid_body (body not valid JSON), invalid_token (token failed signature/expiry check).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Onboarding token already used (single-use claim)" }
        }
      }
    },
    "/claim/preview": {
      "get": {
        "summary": "Preview which resources a claim would attach",
        "description": "Decodes the onboarding JWT and returns the list of resources that would be transferred if /claim were posted with this token. Read-only; does not consume the JWT. Useful for showing the user what they're about to claim before they enter their email.",
        "parameters": [{ "name": "t", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Signed onboarding JWT (the upgrade_jwt field from any anonymous provisioning response, or extracted from the upgrade URL)." }],
        "responses": {
          "200": { "description": "Preview of claimable resources", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClaimPreviewResponse" } } } },
          "400": { "description": "Token missing or malformed" },
          "401": { "description": "Token expired or signature invalid" }
        }
      }
    },
    "/start": {
      "get": {
        "summary": "Onboarding bounce — always 302 to the dashboard claim page",
        "description": "Public bounce endpoint baked into the upgrade_url returned by every anonymous provisioning response. Issues a 302 Location redirect to the dashboard's claim page (DASHBOARD_BASE_URL + '/claim?t=<jwt>') — the dashboard then drives the email-claim flow against POST /claim. ALWAYS 302s regardless of token validity (API-5): an invalid/expired/missing token still redirects to /claim where the dashboard renders a friendly error UI. This is the contract because /start URLs land in agents' terminal logs and users copy-paste them into browsers; a raw JSON 400 is hostile UX. Agents that already hold the upgrade_jwt should POST /claim directly instead of following this redirect.",
        "parameters": [{ "name": "t", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Signed onboarding JWT (the upgrade_jwt field from any anonymous provisioning response, or extracted from the upgrade URL). Optional — when missing, the bounce still 302s to /claim with no t= query so the dashboard renders its empty / login state." }],
        "responses": {
          "302": {
            "description": "Redirect to the dashboard claim page (e.g. https://instanode.dev/claim?t=<jwt>). Follow the Location header for the human flow, or POST /claim directly with the JWT to skip the dashboard step.",
            "headers": {
              "Location": { "schema": { "type": "string", "format": "uri" }, "description": "Dashboard claim URL with the JWT echoed in the t= query param (or no t= when omitted by the caller)" }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Get current user info",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "User and team info", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthMeResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Log out — revoke the current session token server-side",
        "description": "Adds the bearer token's JTI to a Redis revocation set (TTL = remaining token lifetime) so the token is rejected by RequireAuth even before it expires. Idempotent; safe to call without a valid token.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Session revoked", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/whoami": {
      "get": {
        "summary": "Identity probe — confirms the bearer token is valid and returns the team it grants access to",
        "description": "Lightweight endpoint for agents to verify their bearer token works and discover their team_id / plan_tier without an extra DB hop. Returns 401 on invalid/missing token, 200 with identity on success.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Identity confirmed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WhoamiResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/resources": {
      "get": {
        "summary": "List all resources for the authenticated team",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Resource list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResourceListResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/resources/{id}": {
      "get": {
        "summary": "Get a specific resource",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Resource detail" },
          "403": { "description": "Forbidden — resource belongs to another team" },
          "404": { "description": "Not found" }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Accepts EITHER the resource's 'id' (as returned by GET /api/v1/resources) OR its provision 'token'. Resolution tries token first, then id; authorization (team ownership) is identical for both forms." }],
        "responses": {
          "200": { "description": "Resource deleted" },
          "403": { "description": "Forbidden — not your resource OR blocked by team env_policy. The env_policy variant carries body: { error: 'env_policy_denied', env, action, role, allowed_roles, agent_action }." },
          "404": { "description": "Not found — no resource with that id or token, or it belongs to another team." }
        }
      }
    },
    "/api/v1/team/env-policy": {
      "get": {
        "summary": "Get the team's per-env access policy",
        "description": "Returns the policy JSON. Any authenticated team member may read. An empty policy ({}) means no enforcement — every role can perform every action on every env (the default and backward-compat baseline).",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Policy fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":     { "type": "boolean" },
                    "policy": {
                      "type": "object",
                      "description": "Shape: { <env>: { <action>: [<role>, ...] } }. Known actions: deploy, delete_resource, vault_write.",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": { "type": "array", "items": { "type": "string" } }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "put": {
        "summary": "Replace the team's per-env access policy (owner only)",
        "description": "Writes the supplied policy verbatim, replacing any previous value. Empty {} disables enforcement. Validation: env names match ^[a-z0-9_-]{1,64}$, action names must be one of deploy/delete_resource/vault_write (unknown actions are rejected to catch typos), role names match ^[a-z0-9_]{1,32}$, total body capped at 8 KiB. Owner-only — non-owners receive 403 with agent_action telling them to have an owner run the prompt.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The policy object itself (NOT wrapped). Example: {\"production\":{\"deploy\":[\"owner\"]}}",
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Policy persisted; the response echoes the normalised policy." },
          "400": { "description": "Invalid policy shape, unknown action, or malformed JSON. agent_action is populated when applicable." },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Caller is not the team owner. Body: { error: 'owner_required', role, allowed_roles, agent_action }." }
        }
      }
    },
    "/api/v1/resources/{id}/rotate-credentials": {
      "post": {
        "summary": "Rotate credentials for a DB/cache/nosql resource",
        "description": "Generates a new password and returns the updated connection_url. The old URL is immediately revoked.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Credentials rotated", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "connection_url": { "type": "string" } } } } } },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/api/v1/resources/{id}/pause": {
      "post": {
        "summary": "Pause a resource (suspend without deletion)",
        "description": "Sets status to 'paused' and runs the provider-side revoke (REVOKE CONNECT for postgres, ACL SETUSER off for redis, revokeRolesFromUser for mongodb; queue/storage/webhook are pure status flips). The connection URL is preserved on resume — no re-issuance. Paused resources STOP counting against the per-type resource quota, but storage_bytes STILL counts toward the storage cap so pause-and-bloat is not a valid escape. Tier-gated to Pro+. Idempotent error: a second pause on an already-paused resource returns 409 already_paused.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Resource paused", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "id": { "type": "string", "format": "uuid" }, "token": { "type": "string", "format": "uuid" }, "status": { "type": "string", "enum": ["paused"] }, "message": { "type": "string" } } } } } },
          "400": { "description": "invalid_id — :id is not a valid UUID" },
          "401": { "description": "Unauthorized — session token required" },
          "402": { "description": "upgrade_required — pause/resume requires Pro+. Body: { error: 'upgrade_required', upgrade_url, agent_action }." },
          "403": { "description": "Forbidden — caller doesn't own the resource" },
          "404": { "description": "not_found — resource doesn't exist" },
          "409": { "description": "already_paused — the resource is already paused (idempotent error)" },
          "503": { "description": "provider_failed — the provider-side revoke failed; the DB row is unchanged" }
        }
      }
    },
    "/api/v1/resources/{id}/resume": {
      "post": {
        "summary": "Resume a paused resource (restore from same data)",
        "description": "Flips status from 'paused' back to 'active' and re-grants the provider-side connection (GRANT CONNECT / ACL on / grantRolesToUser). The connection URL is preserved unchanged — no re-issuance, no new password — so any existing client config still works. Tier-gated to Pro+ in symmetry with pause.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Resource resumed", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "id": { "type": "string", "format": "uuid" }, "token": { "type": "string", "format": "uuid" }, "status": { "type": "string", "enum": ["active"] }, "message": { "type": "string" } } } } } },
          "400": { "description": "invalid_id" },
          "401": { "description": "Unauthorized" },
          "402": { "description": "upgrade_required — pause/resume requires Pro+" },
          "403": { "description": "Forbidden" },
          "404": { "description": "not_found" },
          "409": { "description": "not_paused — the resource isn't currently paused" },
          "503": { "description": "provider_failed — the provider-side grant failed; the DB row is unchanged" }
        }
      }
    },
    "/api/v1/resources/families": {
      "get": {
        "summary": "List resource families for the authenticated team",
        "description": "Returns one entry per family root the team owns, with members grouped by env. A family is a set of env-twin resources (prod-db / staging-db / dev-db) linked via parent_resource_id (migration 018). Resources without children or parent appear as single-member families. Sets Cache-Control: private, max-age=30 — narrow freshness window because provisioning + soft-delete both shift family membership. Quota / billing decisions must NOT rely on this aggregate; it's a UX-only optimisation.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Family list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":       { "type": "boolean" },
                    "families": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "family_root_id":  { "type": "string", "format": "uuid", "description": "Stable family identifier — the row's own id when it is its own root." },
                          "resource_type":   { "type": "string", "description": "postgres | redis | mongodb | webhook | queue | storage" },
                          "members_per_env": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "id":            { "type": "string", "format": "uuid" },
                                "token":         { "type": "string", "format": "uuid" },
                                "env":           { "type": "string" },
                                "resource_type": { "type": "string" },
                                "tier":          { "type": "string" },
                                "status":        { "type": "string" },
                                "is_root":       { "type": "boolean", "description": "true when this row is the family root (parent_resource_id IS NULL)." },
                                "name":          { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total":    { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/resources/{id}/family": {
      "get": {
        "summary": "Get the env-twin family for a resource",
        "description": "Returns the root + every sibling for the family containing the given resource. The id can be the family root or any child — the handler walks parent_resource_id up to the root and back down. Cross-team callers get 403 (not 404) so honest mistakes are debuggable. Sensitive fields like connection_url are never returned. Sets Cache-Control: private, max-age=30.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Any member of the family — root or child. The handler resolves the root by walking parent_resource_id." }],
        "responses": {
          "200": {
            "description": "Family payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":             { "type": "boolean" },
                    "family_root_id": { "type": "string", "format": "uuid" },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id":                 { "type": "string", "format": "uuid" },
                          "token":              { "type": "string", "format": "uuid" },
                          "env":                { "type": "string" },
                          "resource_type":      { "type": "string" },
                          "tier":               { "type": "string" },
                          "status":             { "type": "string" },
                          "is_root":            { "type": "boolean" },
                          "parent_resource_id": { "type": "string", "description": "Empty for the root; otherwise the root's id." },
                          "name":               { "type": "string" },
                          "created_at":         { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "total":          { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Resource ID is not a valid UUID" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Cross-team — caller does not own this resource" },
          "404": { "description": "Resource not found" }
        }
      }
    },
    "/api/v1/resources/{id}/provision-twin": {
      "post": {
        "summary": "Provision an env-twin of an existing resource (Pro+)",
        "description": "Creates a fresh resource of the same type as the source, in a different env, linked into the same family (parent_resource_id = family root). Tier-gated to Pro/Team/Growth — hobby/free callers get a 402 with agent_action telling them to upgrade. Only supports postgres/redis/mongodb sources (the resource types where env-twin has real per-env infra).\n\nEmail-link approval gate (migration 026): when 'env' is anything other than 'development', the API does NOT execute immediately. It persists a pending row in promote_approvals, returns 202 with status='pending_approval' + an approval_id + expires_at, and emails the requester a single-use https://api.instanode.dev/approve/<token> link valid for 24h. Dev-env twins bypass this gate. Pass approval_id in the body to consume a previously-approved row immediately.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Token of the source resource (root or any sibling — the handler resolves the family root)." }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["env"],
                "properties": {
                  "env":         { "type": "string", "description": "Target env for the twin (production / staging / dev / ...). Must match ^[a-z0-9-]{1,32}$. Anything other than 'development' triggers the email-link approval flow." },
                  "name":        { "type": "string", "description": "Optional human-readable label (max 120 chars). Falls back to the source's name when omitted." },
                  "approval_id": { "type": "string", "description": "Optional. Pass an already-approved approval row id to run the twin immediately (skips the email-link wait)." }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Twin provisioned — body carries connection_url + family_root_id (same shape as POST /db/new etc.)" },
          "202": { "description": "Pending approval — non-dev target env, no approval_id supplied. Body: { status: 'pending_approval', approval_id, expires_at, agent_action, ... }." },
          "400": { "description": "invalid_id / missing_env / invalid_env / unsupported_for_twin (source isn't postgres/redis/mongodb), or approval_id mismatched" },
          "401": { "description": "Unauthorized" },
          "402": { "description": "upgrade_required — team is on hobby/free; response carries agent_action + upgrade_url" },
          "403": { "description": "forbidden — caller does not own the source resource" },
          "404": { "description": "Source resource not found, or approval_id does not match any row for this team" },
          "409": { "description": "twin_exists — family already has a row in the requested env, OR approval_id is not in status='approved'" },
          "410": { "description": "approval_id is past its 24h expiry window" },
          "503": { "description": "provision_failed — downstream provisioner errored; resource row was soft-deleted" }
        }
      }
    },
    "/api/v1/families/bulk-twin": {
      "post": {
        "summary": "Bulk env-twin every parent resource in source_env (Pro+)",
        "description": "One-shot endpoint to twin every family-root resource a team owns in source_env into target_env. Replaces N sequential per-resource /provision-twin calls — the agentic-founder use case for setting up staging in one step.\n\nReturns 200 on full success, 207 Multi-Status when at least one twin failed (the successful rows are NOT rolled back — caller retries just the failed parents). Parents already twinned in target_env count as skipped_already_existed (NOT failures) so retries are idempotent. Tier-gated to Pro/Team/Growth.\n\nConcurrency: per-call semaphore caps in-flight provisions (5 by default) so a team with 30 resources doesn't wait 30× serial provision time. Provisions are NOT rolled back on partial failure — the customer can retry just the failed rows.\n\nQuota gate: if a team's resource-count headroom is exhausted, the remaining parents return failures[] entries with error=quota_exceeded + the upgrade URL in agent_action.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["source_env", "target_env"],
                "properties": {
                  "source_env":     { "type": "string", "description": "Env to copy FROM (e.g. \"production\"). Must match ^[a-z0-9-]{1,32}$. Only resources where parent_resource_id IS NULL — the family roots — are considered." },
                  "target_env":     { "type": "string", "description": "Env to copy TO (e.g. \"staging\"). Must differ from source_env. Same charset rule as source_env." },
                  "resource_types": {
                    "type": "array",
                    "items": { "type": "string", "enum": ["postgres", "redis", "mongodb"] },
                    "description": "Optional whitelist. Empty = all twin-supported types. Unknown types in the filter are silently dropped so old callers don't break when a new supported type lands."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "All selected parents twinned (or already had a twin). Body: { ok:true, twinned, skipped_already_existed, items[], failures:[] }. Items carry parent_token + twin_token + resource_type + env + (optional) skipped:true for the already-existed rows." },
          "207": { "description": "Multi-Status — at least one parent failed (provision error, quota_exceeded, etc.). Body shape identical to 200 but failures[] is non-empty. Each failure carries parent_token + error code + message + (for quota_exceeded) agent_action + upgrade_url." },
          "400": { "description": "missing_source_env / missing_target_env / invalid_source_env / invalid_target_env / same_env (source and target are identical)." },
          "401": { "description": "Unauthorized — Bearer token required." },
          "402": { "description": "upgrade_required — team is on hobby/free; response carries agent_action + upgrade_url. Multi-env workflows are a Pro+ differentiator." },
          "503": { "description": "team_lookup_failed / list_failed — transient DB error; retry with backoff." }
        }
      }
    },
    "/api/v1/resources/{id}/backup": {
      "post": {
        "summary": "Trigger an ad-hoc Postgres backup",
        "description": "Queues a manual backup of the referenced postgres resource. Tier-gated: anonymous/free callers get 402 + agent_action telling them to claim and upgrade; hobby callers are capped at 1 manual backup per UTC day (Redis-backed counter manual_backup:<team_id>:<YYYY-MM-DD>); pro/growth get 100/day; team gets 1000/day. Only postgres resources are supported today — other types return 400 unsupported_resource_type. The API inserts a pending row in resource_backups and returns immediately; the worker picks it up within 30s, runs pg_dump → S3, and writes the terminal status, size_bytes, and s3_key. Poll GET /api/v1/resources/{id}/backups to watch the row transition pending → running → ok|failed. Audit event: backup.requested with metadata {resource_id, triggered_by, backup_kind}. Retention follows plans.yaml.backup_retention_days (hobby=7, pro/growth=30, team=90). Hobby cannot restore from these — see /restore.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Resource token UUID — must be a postgres resource owned by the authenticated team." }],
        "responses": {
          "200": { "description": "Backup queued", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "backup_id": { "type": "string", "format": "uuid" }, "status": { "type": "string", "enum": ["pending"] }, "started_at": { "type": "string", "format": "date-time" }, "message": { "type": "string" } } } } } },
          "400": { "description": "invalid_id (resource UUID malformed) or unsupported_resource_type (resource is not postgres)" },
          "401": { "description": "Unauthorized — session token required" },
          "402": { "description": "upgrade_required — anonymous/free tier cannot back up; response carries agent_action + upgrade_url", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden — caller doesn't own the resource" },
          "404": { "description": "not_found — resource doesn't exist" },
          "429": { "description": "rate_limited — team has hit its manual_backups_per_day cap for the current UTC day; response carries agent_action pointing at the Pro upgrade", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "backup_create_failed — transient DB error; retry with backoff" }
        }
      }
    },
    "/api/v1/resources/{id}/backups": {
      "get": {
        "summary": "List backups for a resource",
        "description": "Returns the team's backups for this resource, newest first. Cursor-style pagination via ?before=<RFC3339> — pass the oldest row's created_at to fetch the next page. ?limit caps at 200 (default 50). Each item carries status (pending|running|ok|failed), backup_kind (scheduled|manual), tier_at_backup (the tier in effect when the backup was taken, used by the retention prune job in the worker), size_bytes (NULL until the worker writes the terminal row), and error_summary (only set on failed). 403 on cross-team access. No tier gate on read — even hobby callers can list to verify backups exist, which is part of the Pro-upgrade trust path.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }, "description": "Max rows to return. Capped at 200." },
          { "name": "before", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "Cursor — only rows with created_at < before are returned. Pass the oldest item's created_at to paginate backwards." }
        ],
        "responses": {
          "200": {
            "description": "Backup list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":    { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backup_id":      { "type": "string", "format": "uuid" },
                          "status":         { "type": "string", "enum": ["pending","running","ok","failed"] },
                          "backup_kind":    { "type": "string", "enum": ["scheduled","manual"] },
                          "started_at":     { "type": "string", "format": "date-time" },
                          "finished_at":    { "type": "string", "format": "date-time", "nullable": true },
                          "size_bytes":     { "type": "integer", "nullable": true, "description": "Size of the pg_dump artifact in bytes. NULL until the worker writes the terminal row." },
                          "tier_at_backup": { "type": "string", "nullable": true, "description": "Snapshot of team.plan_tier when the backup was taken. Used by the retention prune job — a backup taken on Pro stays for 30 days even after the team downgrades." },
                          "error_summary":  { "type": "string", "nullable": true, "description": "Short human-readable failure reason. Only set when status='failed'." },
                          "created_at":     { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "total": { "type": "integer", "description": "Total backups for this resource (not just the current page). Used by the dashboard to render pagination affordances." }
                  }
                }
              }
            }
          },
          "400": { "description": "invalid_id or invalid_cursor (?before is not RFC3339)" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden — caller doesn't own the resource" },
          "404": { "description": "not_found — resource doesn't exist" }
        }
      }
    },
    "/api/v1/resources/{id}/restore": {
      "post": {
        "summary": "Restore a Postgres resource from a backup (Pro+)",
        "description": "Queues a restore from a previously-completed backup. Tier-gated to Pro/Growth/Team via plans.yaml.backup_restore_enabled — hobby/free callers get 402 + agent_action telling them to upgrade ('Pro can restore, Hobby cannot' is the wedge). backup_id must (a) exist, (b) belong to the same resource named in the URL, (c) be in status='ok'. Mismatches return 400/404/409 with distinct error codes so a dashboard can show the right copy. The API writes a pending row in resource_restores; the worker picks it up within 30s and runs pg_restore from S3. Audit event: restore.requested with metadata {resource_id, backup_id, triggered_by} — distinct from backup.requested so a Loops subscriber can filter to 'user clicked Restore' (a high-signal event). The DB column resource_restores.triggered_by is NOT NULL; PAT-only sessions without a user identity get 401.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Resource token UUID — target of the restore. Must be owned by the authenticated team." }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["backup_id"],
                "properties": {
                  "backup_id": { "type": "string", "format": "uuid", "description": "Id of the resource_backups row to restore from. Must be in status='ok' and belong to the same resource as the URL :id." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Restore queued", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "restore_id": { "type": "string", "format": "uuid" }, "status": { "type": "string", "enum": ["pending"] }, "started_at": { "type": "string", "format": "date-time" }, "message": { "type": "string" } } } } } },
          "400": { "description": "invalid_id, invalid_body, missing_backup_id, invalid_backup_id, or backup_resource_mismatch (backup_id belongs to a different resource than the one in the URL)" },
          "401": { "description": "Unauthorized — session token required AND must carry a user identity (PAT-only sessions are rejected)" },
          "402": { "description": "upgrade_required — restore is Pro+. Response carries agent_action + upgrade_url to https://instanode.dev/pricing.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden — caller doesn't own the resource" },
          "404": { "description": "not_found (resource doesn't exist) OR backup_not_found (backup_id doesn't exist)" },
          "409": { "description": "backup_not_ready — backup_id is in status pending/running/failed and cannot be restored from. Response carries agent_action telling the user to wait or pick another backup.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "restore_create_failed or backup_lookup_failed — transient DB error; retry" }
        }
      }
    },
    "/api/v1/resources/{id}/restores": {
      "get": {
        "summary": "List restore attempts for a resource",
        "description": "Same shape and pagination as /backups. Items carry status (pending|running|ok|failed), backup_id (the source backup), and error_summary (only on failed). No tier gate — visible to every tier so the dashboard can show 'restore in progress / restore complete' state even on tiers that can't initiate new restores. 403 on cross-team access.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 } },
          { "name": "before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
        ],
        "responses": {
          "200": {
            "description": "Restore list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok":    { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "restore_id":    { "type": "string", "format": "uuid" },
                          "backup_id":     { "type": "string", "format": "uuid", "description": "Source backup the restore was taken from." },
                          "status":        { "type": "string", "enum": ["pending","running","ok","failed"] },
                          "started_at":    { "type": "string", "format": "date-time" },
                          "finished_at":   { "type": "string", "format": "date-time", "nullable": true },
                          "error_summary": { "type": "string", "nullable": true },
                          "created_at":    { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "invalid_id or invalid_cursor" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden — caller doesn't own the resource" },
          "404": { "description": "not_found" }
        }
      }
    },
    "/api/v1/webhooks/{token}/requests": {
      "get": {
        "summary": "List received webhook payloads",
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "name": "token", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "List of stored requests with headers and body" }
        }
      }
    },
    "/api/v1/billing": {
      "get": {
        "summary": "Aggregated billing state for the authenticated team",
        "description": "One-shot fetch that powers the dashboard's billing view: current tier, Razorpay subscription status, next renewal timestamp, monthly amount, and the payment method on file. Returns 200 with sensibly-defaulted nulls for teams without a Razorpay subscription yet — callers can render the 'no subscription' UI without branching on error.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Aggregated billing state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillingStateResponse" } } } },
          "401": { "description": "Missing or invalid session token" },
          "404": { "description": "Team not found" }
        }
      }
    },
    "/api/v1/billing/checkout": {
      "post": {
        "summary": "Create a Razorpay subscription and return its hosted-page URL",
        "description": "Mints a Razorpay subscription for the requested plan (hobby, hobby_plus, or pro) tied to the authenticated team. The dashboard redirects the user to the returned short_url to complete payment; on success Razorpay fires subscription.activated AND subscription.charged to /razorpay/webhook — both trigger the same idempotent tier-elevation path so the team is upgraded as soon as the mandate is authorised, even before the first invoice is collected. The Team plan ($199, finite high-capacity limits — not unlimited) is NOT yet available for self-serve checkout — requesting plan=team returns 400 tier_not_yet_available (contact sales: contact@instanode.dev). Capacity beyond the Team caps is Enterprise (contact sales). plan_frequency selects monthly (default) vs yearly billing — yearly returns 503 billing_not_configured until the operator creates the yearly Razorpay plan and sets RAZORPAY_PLAN_ID_*_YEARLY. promotion_code: admin-issued codes are bookmarked in the subscription notes for future discount wiring (no Razorpay Offer is applied yet — codes are not consumed until a real discount is confirmed). IDEMPOTENT: the endpoint never mints a second subscription for a team that already has a live one — if the team already holds the requested tier (or higher) it returns 400 already_on_plan, and if a prior checkout's subscription is still payable at Razorpay (status created/authenticated/pending) it returns that subscription's short_url with reused:true instead of creating a new one. This prevents a confused re-click from producing two parallel subscriptions that both charge the card.",
        "security": [{ "bearerAuth": [] }],
[...]
